* {
  color: #000000;
}
/* button  */
.btn {
  background: #03a8f5 0% 0% no-repeat padding-box;
  color: #ffffff;
  box-shadow: 3px 3px 20px #023e6e99;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  font-family: Nunito Sans;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 48px;
}
.phone-no,
.phone-no a {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: Nunito Sans;
  letter-spacing: 0.9px;
  text-transform: capitalize;
  margin-top: 35px;
  color: #000000;
}
/* navbar  */
header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
header .navbar-nav {
  margin-right: 5% !important;
}
header .nav-link {
  font-size: 16px;
  font-weight: 400;
  font-family: Nunito Sans;
  color: #455963 !important;
  padding: 15px !important;
  position: relative;
}
header .nav-link:hover {
  color: #02bcd4 !important;
}
header .nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header .nav-link.active {
  color: #02bcd4 !important;
}
header .nav-link.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #02bcd4 !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header .navbar-brand.logo {
  width: 153px;
}
header .navbar-toggler:focus {
  box-shadow: none;
}
.estimate-botton {
  background: #03a8f5;
  padding: 10px 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.estimate-p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 5px;
  margin: 0;
  letter-spacing: -0.3px;
}
.estimate-span {
  text-align: center;
  font-size: 12px;
  font-family: Nunito Sans;
  color: #ffffff;
}
/* hero section  */
.hero {
  background-image: url(../images/banner-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}
.hero .container-fluid {
  padding: 0 186px;
}
.hero .date {
  font-size: 30px;
  line-height: 50px;
  font-weight: 900;
  font-family: Roboto Slab;
  letter-spacing: 1.5px;
  color: #ffd500;
  text-transform: uppercase;
}
.hero p {
  font-size: 25px;
  line-height: 40px;
  font-family: Roboto Slab;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 29px;
  margin-top: 29px;
}
.hero .btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 20px #023e6e99;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  font-family: Nunito Sans;
  letter-spacing: 0.9px;
  color: #04599c;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 48px;
}
.hero .btn:hover {
  color: #04599c;
}
.btn:hover {
  color: #ffffff;
}
.hero .phone-no,
.hero .phone-no a {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: Nunito Sans;
  letter-spacing: 0.9px;
  color: #ffd500;
  text-transform: capitalize;
  margin-top: 35px;
}

/* technology section  */
.technology {
  background-color: #f1f1f1;
  padding: 140px 0 60px;
}
.technology .heading {
  text-align: center;
  font-size: 51px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #04599c;
  text-transform: capitalize;
}
.technology .heading span {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: Nunito Sans;
  color: #04599c;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}
.technology .images-container {
  margin-top: 90px;
  margin-bottom: 90px;
}
.technology .images-container img {
  padding-right: 10px;
  width: 190px;
}
.technology .row{
  margin: 0;
}
/* about section  */

.about-content-container {
  padding-right: 150px;
}
.about-image-container {
  padding: 0 40px;
}
.about {
  background-color: #f1f1f1;
  padding: 70px 0;
}
.about .heading {
  font-size: 51px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #04599c;
  text-transform: capitalize;
}
.about .heading span {
  font-weight: bold;
  font-size: 22px;
  font-family: Nunito Sans;
  color: #04599c;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}
.about-list li {
  font-size: 20px;
  line-height: 30px;
  font-family: Roboto Slab;
  font-weight: normal;
  color: #343434;
  list-style: none;
  padding: 20px 0;
}
.about-list li::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11'%3E%3Cg id='single-button' fill='%23f1f1f1' stroke='%2304599c' stroke-width='3'%3E%3Crect width='11' height='11' rx='5.5' stroke='none'/%3E%3Crect x='1.5' y='1.5' width='8' height='8' rx='4' fill='none'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 24px;
}
.about-list .blue-text {
  color: #03a8f5;
}

/* services section  */
.services {
  padding: 185px 0 165px;
  background-image: url("../images/core-services-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.services .heading {
  text-align: center;
  font-size: 51px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #04599c;
  text-transform: capitalize;
}
.services .heading span {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: Nunito Sans;
  color: #04599c;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}
.services .paragraph {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-family: Roboto Slab;
  color: #343434;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* card  */
.services .card-container {
  margin-top: 90px;
  margin-bottom: 90px;
}
.services .card {
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000012;
  border-radius: 38px;
  padding: 45px 15px 0;
  height: 100%;
  position: relative;
  border: 0;
}
.services .card .title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-family: Roboto Slab;
  color: #343434;
  margin-top: 35px;
}
.services .card .text {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  font-family: Nunito Sans;
  color: #343434;
  max-height: 0;
  opacity: 0;
}
.services .card svg .fill-color {
  color: #fff;
}
.services .card .close-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-25px, -50%);
}
.services .card .close-icon .fill-color {
  color: #04599c;
}
/* card hover */
.services .card:hover {
  box-shadow: 0px 0px 20px #03a8f533;
  border: 1px solid #03a8f5;
  padding: 45px 15px 10px;
}
.services .card:hover .text {
  max-height: max-content;
  opacity: 1;
}
.services .card:hover .title {
  line-height: 25px;
  font-weight: 900;
  margin-top: 10px;
}
.services .card:hover svg {
  height: 126px;
  width: 123px;
}
.services .card:hover svg .fill-color {
  color: #03a8f5;
}
.services .card:hover .close-icon {
  height: auto;
  width: auto;
  transform: translate(-25px, -50%) rotate(225deg);
}
/* teams section */
.team {
  background-image: url(../images/brainx-team-blue-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 100px;
}
.team .heading {
  text-align: center;
  font-size: 51px;
  line-height: 60px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #ffffff;
}
.team .subheading {
  font-size: 22px;
  line-height: 60px;
  font-weight: bold;
  font-family: Nunito Sans;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.team .card-container {
  padding: 60px 0;
}
.team .card {
  background-color: transparent;
  border: none;
  text-align: center;
  margin: 70px;
}
.team .card .title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #ffffff;
}
.team .card .text {
  font-size: 20px;
  line-height: 30px;
  font-family: Nunito;
  color: #ffffff;
}
.team .social-icon-container a {
  padding: 0 12px;
}
.team .social-icon-container svg {
  fill: #fff;
}
.team .social-icon-container a:hover svg {
  fill: #03a8f5;
  width: 38px;
  height: 38px;
}
/* industries  */
.industries {
  background-color: #f1f1f1;
  padding: 140px 0 250px;
}
.industries .heading {
  text-align: center;
  font-size: 51px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #04599c;
  text-transform: capitalize;
}
.industries .heading span {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  font-family: Nunito Sans;
  color: #04599c;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}
.carousel .card {
  border: 1px solid #bfbfbf;
  background: transparent;
  border-radius: 38px;
  margin: 0 20px;
  /* min-height: 600px !important; */
  padding-top: 55px;
  position: relative;
  
  min-width: 440px;
  max-width: 440px;
  min-height: 530px;

}
.carousel .card .content {
  bottom: 0;
  position: absolute;
}
.carousel .card .icon {
  text-align: center;
  display: flex;
  justify-content: center;
}
.carousel .card .icon img {
  max-height: 200px;
  object-fit: contain;
}
.carousel .card .title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: Roboto Slab;
  color: #343434;
}
.carousel .card .text {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-family: Nunito Sans;
  font-weight: 600;
  color: #343434;
  /* padding: 14px 20px; */
  padding: 14px 30px;
}
.carousel .card.slick-active.slick-current {
  background-color: #ffffff;
}
.carousel .slick-dots li button:before {
  color: #b5b5b5;
  font-size: 10px;
  line-height: 20px;
}
.carousel .slick-dots {
  bottom: -100px;
}
.carousel .slick-dots li.slick-active button:before {
  border: 3px solid #03a8f53b;
  color: #03a8f5;
  opacity: 1;
  border-radius: 50%;
  line-height: 17px;
  font-size: 12px;
}
.carousel .slick-arrow {
  left: 42%;
  border: none;
  position: absolute;
  top: 105%;
}
.carousel .slick-arrow::before {
  visibility: hidden;
}
.carousel .slick-next,
.carousel .slick-prev {
  font-size: 60px;
  top: calc(100% + 56px);
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  cursor: pointer;
  border: none;
  z-index: 999999999;
}
.carousel .slick-next:before,
.carousel .slick-prev:before {
  font-size: 60px;
  position: absolute;
}
.carousel .slick-next.slick-arrow {
  right: 42.5% !important;
  left: unset;
  top: calc(100% + 59px);
}
.industries-btn .slick-list.draggable {
  max-width: calc(100vw - 60px) !important;
  margin: auto !important;
}
.industries-btn .slick-track {
  transform: none !important;
  max-width: calc(100vw - 60px) !important;
  display: flex;
  justify-content: center;
}
.industries-btn li.slick-slide {
  max-width: fit-content !important;
  width: fit-content !important;
  cursor: pointer;
}
.industries-btn li.slick-slide div {
  font-size: 20px;
  line-height: 50px;
  font-weight: normal;
  font-family: Roboto Slab;
  color: #c6c6c6;
  padding: 0 30px;
  border-bottom: 5px solid #c6c6c6;
}
.industries-btn li.slick-current.slick-active.slick-slide div {
  border-bottom: 5px solid #03a8f5;
  font-weight: 800;
  color: #03a8f5;
}
/* rich text section  */
.rich-text {
  background-color: #f1f1f1;
  padding: 120px 0;
}
.rich-text-content,
.technology-content {
  background-image: url("../images/bg-logo.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 135px;
}
.rich-text .heading,
.technology-content .heading {
  text-align: center;
  font-size: 51px;
  line-height: 60px;
  font-weight: 900;
  font-family: Roboto Slab;
  color: #04599c;
  text-transform: capitalize;
}
.rich-text .paragraph,
.technology-content .paragraph {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-family: Roboto Slab;
  color: #343434;
  margin: 30px 0;
}
.rich-text .title,
.technology-content .title {
  font-size: 22px;
  line-height: 50px;
  font-weight: bold;
  font-family: Nunito Sans;
  text-align: center;
  letter-spacing: 1.1px;
  color: #04599c;
  text-transform: uppercase;
  margin-bottom: 0;
}

.carousel .card.slick-active.slick-current {
  box-shadow: 0px 0px 20px #0000001c;
  /* min-height: 660px !important; */
  min-height: 585px !important;
}
.carousel .card .icon img {
  max-height: 200px;
  object-fit: contain;
  max-height: 243px;
}

.carousel .card.slick-active.slick-current .title {
  font-size: 22px;
  font-weight: 800;
}
.carousel .card.slick-active.slick-current .text {
  font-size: 18px;
}
.carousel .slick-dots li {
  margin: 0;
}
.bottom-text-container {
  background-color: #f1f1f1;
}
/* bootom text  */
.bottom-text-container svg {
  width: 100%;
  overflow: hidden;
}

/* footer  */

footer {
  background: #14264a 0% 0% no-repeat padding-box;
}
footer .footer-ul {
  padding-left: 0;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
footer .footer-li a {
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
footer .footer-main-row {
  margin: 0px !important;
  padding-bottom: 30px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 80px;
}
footer .footer-li {
  margin-left: 40px;
  list-style: none;
  display: inline;
  font-size: 16px;
  color: #ffffff;
  font-style: normal;
  font-weight: 200;
}
footer .footer-nav {
  height: auto;
  margin-top: 15px;
}

footer .contact-div {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 800;
  width: 260px;
  margin-top: 5px;
  margin-bottom: 45px;
  border-radius: 30px !important;
  color: white;
  background-color: #039de3;
  text-align: center;
  font-size: 18px;
  line-height: 43px;
  letter-spacing: 0.9px;
  cursor: pointer;
}
footer .icon-li {
  margin: 0 13px;
}
footer .social-icon {
  height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: end;
}
footer .icon-ul {
  padding-left: 24px;
  display: -webkit-inline-box;
  list-style-type: none;
  padding-top: 15px;
  cursor: pointer;
}
footer .footer-contact-a {
  display: flex;
  justify-content: end;
}
footer .horizontal-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  opacity: 1;
}
footer .footer-li:first-of-type {
  margin-left: 0;
}
footer .mynewRow {
  margin-top: -110px;
  padding-left: 22px;
}
footer .address-main {
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 1.8px;
  color: white;
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 400;
}
footer .address {
  font-size: 15px;
  color: #d9dee0 !important;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif !important;
}
footer .footer-detail a{
  text-decoration: none;
}
footer .copy-right-div  span{
  font-size: 16px;
  color: #d9dee0;
  padding-top: 27px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif !important;
}
footer .footer-bottom-main {
  background-color: #101F3A;
  margin-top: 35px;
}
footer .footer-bottom-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px 32px;
    align-items: center;
}
footer .bottom-ul {
  display: flex;
  align-items: center;
  margin: 0;
}
footer .bottom-li{
list-style-type: none;
}
footer .bottom-li a {
  margin-right: 50px;
  font-size: 15px;
  color: #d9dee0;
  font-style: none;
  font-weight: 500px;
  text-decoration: none;
}
footer .icon-img-div {
  height: 40px;
  width: 40px;
}
@media all and (max-width: 1800px) {
  /* industries */
  .carousel .card.slick-active.slick-current {
    box-shadow: 0px 0px 20px #0000001c;
    min-height: 580px !important;
  }
  .carousel .card {
    min-height: 550px !important;
  }
}

@media all and (max-width: 1800px) {
  /* hero  */
  .hero p {
    font-size: 20px;
    margin-bottom: 29px;
    margin-top: 29px;
    line-height: 30px;
  }

  .hero .btn,
  .btn {
    font-size: 14px;
    letter-spacing: 0;
    padding: 4px 29px;
  }

  .phone-no,
  .phone-no a {
    font-size: 16px;
    margin-top: 20px;
  }
  /* carousel */
  .carousel .slick-next.slick-arrow {
    right: 41% !important;
  }
  .carousel .slick-arrow {
    left: 41%;
  }
}

/* media querry  */
@media all and (max-width: 1600px) {
  /* .industries */
  .industries-btn li.slick-slide div {
    font-size: 20px;
    padding: 0px 20px;
  }
  .carousel .slick-arrow {
    left: 39%;
  }
  .carousel .slick-next.slick-arrow {
    right: 39.5% !important;
  }
}
@media all and (max-width: 1500px) {
  /* .industries */
  .industries-btn li.slick-slide div {
    font-size: 16px;
    padding: 0px 19px;
  }
}
@media all and (max-width: 1400px) {
  /* .industries */
  .carousel .slick-arrow {
    left: 38%;
  }
  .carousel .slick-next.slick-arrow {
    right: 38.5% !important;
  }
}
@media all and (max-width: 1350px) {
  /* .industries */
  .carousel .card.slick-active.slick-current {
    min-height: 600px !important;
  }
  .carousel .card {
    /* min-height: 580px !important; */
    min-height: 570px !important;
  }
}
@media all and (max-width: 1300px) {
  /* .industries */
  .carousel .card.slick-active.slick-current {
    /* min-height: 650px !important; */
    min-height: 615px !important;
  }
  .carousel .card {
    min-height: 600px !important;
  }
}
@media all and (max-width: 1200px) {
  /* hero  */
  .hero .container-fluid {
    padding: 0 60px;
  }
  /* .industries */
  .carousel .slick-arrow {
    left: 43%;
  }
  .carousel .slick-next.slick-arrow {
    right: unset !important;
    left: calc(43% + 60px);
    /* top: 108.9%; */
    top: calc(100% + 59px);
  }
  .carousel .card {
    min-width: 400px;
  }
}
@media all and (max-width: 1170px) {
  /* .industries */
  .industries-btn li.slick-slide div {
    font-size: 15px;
    padding: 0px 10px;
  }
  .industries-btn .slick-track {
    flex-wrap: wrap;
  }
  .carousel .card {
    margin: 0 15px;
    min-height: 600px !important;
  }
}
@media all and (max-width: 992px) {
  /* about  */
  .about-content-container {
    padding-right: 0px;
  }
  /* .technology */
  .technology {
    padding: 140px 0 0;
  }
  /* team  */
  .team .card {
    margin: 10px;
  }
}
@media all and (max-width: 860px) and (min-width: 769px) {
  header .navbar .container-fluid {
    flex-wrap: wrap;
  }
  header .est-desktop-btn {
    display: none !important;
  }
  header .est-mobile-btn {
    display: inline !important;
  }
  header .navbar-brand.logo {
    text-align: left;
    margin: 0 !important;
    width: 50%;
  }
  header .navbar-nav {
    flex-direction: row;
    margin: auto !important;
  }
}
@media all and (max-width:885px) and (min-width:767px) {
  .footer-li:last-of-type {
    margin: 0;
    display: block;
}
footer .horizontal-bar {
  margin-top: 0;
}
.mynewRow {
  margin-top: -84px;
}
  
}
@media all and (max-width: 768px) {
  /* navbar  */
  header .nav-link {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  header .navbar-brand.logo {
    padding: 0px !important;
    padding-left: 15px !important;
    padding-top: 12px !important;
    margin: 0 !important;
    padding-bottom: 12px !important;
  }
  header .navbar-brand.logo img {
    width: 100px;
  }
  header button.navbar-toggler {
    border: none;
    font-size: 18px;
  }
  .estimate-botton {
    padding: 5px 20px;
    border-radius: 100px;
    margin-left: auto;
  }
  span.estimate-span {
    display: none;
  }
  .estimate-p {
    font-size: 14px;
    line-height: normal;
    padding-top: 0px;
  }
  /* footer */
  .footer-ul {
    text-align: center;
}
footer .mynewRow {
  margin-top: unset;
}
footer .mt-30{
  margin-top: 30px;
}
footer .contact-div {
  width: 100%;
}
footer .icon-setting {
  width: 40px;
}
footer .social-icon {
  justify-content: start;
}
footer .icon-ul {
  padding-left: 0px;
}
footer .footer-bottom-div {
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-bottom-div {
    flex-direction: column;
    align-items: flex-start;
}
footer .bottom-ul {
  padding: 0;
}
footer .copy-right-div {
  margin-top: 12px;
}
footer .footer-li {
  width: 100px !important;
  display: inline-block;
  margin-left: 0;
  margin-top: 10px;
}
}
@media all and (max-width: 576px) {
  /* header  */
  header .col-12 {
    padding: 0 !important;
  }
  header .navbar-brand.logo {
    width: unset;
  }
  /* about  */
  .about-content-container {
    padding-right: 0px;
  }
  .about-image-container {
    padding: 0 20px;
  }

  /* hearo  */
  .hero {
    padding: 55px 0;
  }
  .hero .container-fluid {
    padding: 0 20px;
  }
  .hero p {
    font-size: 16px;
    line-height: 25px;
  }
  .hero .btn {
    font-size: 12px;
  }
  .hero .phone-no,
  .hero .phone-no a {
    font-size: 13px;
  }
  /* teachnology  */
  .technology {
    padding: 60px 0 0px;
  }
  .technology .container {
    padding: 0;
  }
  .technology .heading span,
  .about .heading span,
  .services .heading span {
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-bottom: 5px;
  }
  .technology .heading,
  .about .heading,
  .services .heading {
    font-size: 30px;
  }
  .technology .images-container img {
    padding: 0;
    width: 120px;
    height: 44px;
    margin: 10px 0;
  }
  .technology .images-container {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  /* services  */
  .services {
    padding: 60px 0;
  }
  .services .paragraph {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .services .card-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .services .card {
    box-shadow: 0px 0px 20px #03a8f533;
    border: 1px solid #03a8f5;
    padding: 45px 15px 10px;
  }
  .services .card .text {
    max-height: max-content;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
  }
  .services .card .title {
    line-height: 25px;
    font-weight: 900;
    margin-top: 10px;
  }
  .services .card svg {
    height: 126px;
    width: 123px;
  }
  .services .card svg .fill-color {
    color: #03a8f5;
  }
  .services .card .close-icon {
    height: auto;
    width: auto;
    transform: translate(-25px, -50%) rotate(225deg);
  }

  /* rich text  */
  .rich-text {
    padding: 60px 0;
  }
  .rich-text .title,
  .technology-content .title,
  .team .subheading {
    font-size: 16px;
    line-height: 35px;
  }
  .rich-text .heading,
  .technology-content .heading,
  .team .heading {
    font-size: 30px;
    line-height: 40px;
  }
  .rich-text .paragraph,
  .technology-content .paragraph {
    font-size: 18px;
  }
  /* .industries */
  .industries-btn li.slick-slide div {
    font-size: 15px;
    padding: 0px 11px;
  }
  .carousel .card {
    min-height: 550px !important;
    padding-top: 13px;
  }
  .carousel .card.slick-active.slick-current {
    min-height: unset !important;
  }
  .carousel .slick-next,
  .carousel .slick-prev {
    top: calc(100% + 25px);
    left: calc(50% - 60px);
  }
  .carousel .slick-next.slick-arrow {
    top: calc(100% + 27px);
    left: 50%;
  }
  .industries-btn li.slick-slide div,
  .industries-btn li.slick-current.slick-active.slick-slide div {
    border-bottom: none;
  }
  .industries {
    padding: 60px 0 206px;
  }
  .industries-btn.slick-initialized.slick-slider {
    padding-left: 0;
    border-bottom: 2px solid #c6c6c6;
    padding-bottom: 25px;
    margin-bottom: 37px;
  }
  .carousel .card {
    border-radius: 15px;
    width: calc(100vw - 40px) !important;
    border-radius: 15px;
    min-width: calc(100vw - 40px) !important;
  }
  .carousel .card .content {
    position: inherit;
  }
  .carousel .card {
    min-height: unset !important;
  }
  /* team  */
  .team {
    background-image: url(../images/brainx-team-blue-mobile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0 90px;
  }
}
@media all and (max-width: 480px) {
  /* .industries */
  .carousel .card .text {
    font-size: 16px !important;
    padding: 14px 10px;
  }
  .carousel .card {
    margin: 0 10px;
  }
  .carousel .card.slick-active.slick-current .title {
    font-size: 20px;
  }
}
@media all and (max-width: 390px) {
  /* .industries */
  .carousel .card .icon img {
    max-height: 170px;
  }
  .carousel .card .text {
    font-size: 14px !important;
    padding: 14px 14px;
  }
  .carousel .card {
    margin: 0 10px;
  }
  .carousel .card.slick-active.slick-current .title {
    font-size: 18px;
  }
}
